.cart-custom-img{
    width: 50px;
}
.cart-custom-display{
    background-color: #EC3F3A;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;   
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart-custom-display p{
    margin-left: 5px;
    color: #fff;
    text-align: left;
}
.cart-header{
    border: 1px solid #EC3F3A;
    background-image: linear-gradient(160deg,rgb(92, 208, 253) ,rgb(212, 243, 253));
    padding: 10px;
    margin: 0 5px;
    text-align: center;
    margin-top: 7px;
    border-radius: 10px;
}
